---

---

<section
  class="grid w-full grid-cols-1 gap-4 px-4 py-8 md:grid-cols-2 md:grid-rows-1 lg:grid-cols-2 lg:grid-rows-2"
>
  <!-- First item -->
  <div class="text-left lg:col-start-1 lg:row-start-1">
    <h2 class="border-b-2 pb-4 text-5xl font-bold">About</h2>
    <h4 class="mt-4 text-lg font-semibold leading-8 text-black/80">
      We turn your digital vision into a powerful competitive advantage
    </h4>
    <p class="text-muted-foreground mt-2 max-w-prose text-sm leading-6">
      With expertise in cutting-edge Web Development, Mobile Applications,
      Graphic Design, and Strategic Marketing, we craft tailored solutions for
      businesses across all industries. Whether you're an innovative startup or
      an established enterprise, our services are designed to accelerate your
      growth, boost engagement, and ensure lasting success.
    </p>
  </div>

  <!-- Second item -->
  <div class="md:col-start-2 md:row-start-1 lg:col-start-2 lg:row-start-2">
    2
  </div>
</section>
