---
import { NewsletterForm } from '@/react/newsletter-form'
---

<section
  class="flex flex-col gap-4 rounded-2xl bg-[#383838] p-4 text-left text-white uppercase"
>
  <h2 class="text-md font-semibold">
    Subscribe to our
    <br /><span class="text-6xl font-bold">Newsletter</span>
  </h2>

  <NewsletterForm />
</section>
